.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  .fields {
    padding: 12px 10px;
    border-radius: 3px;
    border: 1px solid rgb(73, 73, 73);
    margin-bottom: 10px;
    background: rgb(48, 47, 47);
    width: 100%;
    box-sizing: border-box;
  }
  .label {
    color: gray;
  }
}
